* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%
}

@import "scss/vars";

body {
    background-color: $body-bg-color;
}

@mixin text ($fs, $fw, $fst) {
    font-size: $fs;
    font-weight: $fw;
    font-style: $fst;
}

.ancor {

    margin: 20px auto;
    font-family: $font-family;
    @include text(40px, 700, normal);
    line-height: 130%;
    color: $h1color;
    text-align: center;}

    .ancor:hover {
        text-decoration: none;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@import "scss/header";

@import "scss/main";

.flex {
    max-width: $container-width;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.logo {
    background-color: #08101e;
    padding-bottom: 99px;
}

.logo-pic:hover {
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@media screen and (max-width:849px) {
    .flex {
        max-width: 849px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 541px;
        padding: 1%;
    }
}

@media screen and (max-width:376px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        max-width: 376px;
    }
}

.about-box {
    display: flex;
    justify-content: space-between;
}

.about-ai {
    margin-top: 157px;
}

.about-right {
    width: 100%;
    padding-top: 117px;

    &__button-link {
        margin-right: 20px;
        margin-bottom: 117px;
        padding: 15px 30px;
    }
}

.about-title {
    font-family: $font-family;
    @include text(40px, 700, normal);
    line-height: 130%;
    color: $h1color;
    padding-bottom: 30px;
}

.about-dsc {
    font-family: $font-family;
    @include text(16px, 600, normal);
    line-height: 160%;
    color: #b5b7bb;
    padding-bottom: 50px;
}

@media screen and (max-width:849px) {
    .about-box {
        max-width: 849px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }


    .about-right {
        width: 100%;
    }
}

@media screen and (max-width:376px) {
    .about-box {
        max-width: 376px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }

    .about-pic {
        max-width: 342px;
    }

    .about-right {
        text-align: center;
    }

    .about-title {
        font-size: 24px;
    }
}

@import "scss/awards";

@import "scss/clients";

@import "scss/caorusel";

@import "scss/footer";