* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@-webkit-keyframes myAnim {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes myAnim {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes myAnim {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}
body {
  background-color: #020a18;
}

.header {
  background-color: #08101d;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
}

@media screen and (max-width: 849px) {
  .container {
    max-width: 849px;
    margin: 0 auto;
  }
}
.header-link {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 40px;
}

.header-link:hover {
  transform: translate(0, 10px) scale(2);
  text-decoration: none;
  color: #fff;
}

.header-nav {
  display: flex;
  justify-content: center;
}

main {
  background-color: #08101e;
  padding-top: 160px;
}

.main-box {
  max-width: 1148px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 17%;
}

.main-left {
  width: 56%;
}

@media screen and (max-width: 849px) {
  .main-box {
    max-width: 849px;
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .main-left {
    width: 70%;
  }
  .button-box {
    display: flex;
    justify-content: start;
  }
  .main-pic {
    margin-top: 15%;
  }
}
.main-subtitle {
  color: #3A68B8;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 160%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.main-title {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 55px;
  font-weight: 800;
  font-style: normal;
  line-height: 130%;
  margin-bottom: 40px;
}

.main-dsc {
  color: #b5b7bb;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 160%;
  margin-bottom: 50px;
}

.button-box {
  display: flex;
}
.button-box__button-link {
  padding: 15px 30px;
  margin-right: 20px;
}

.button-link {
  background: #3A68B8;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 27px;
  color: #FFF;
  transition: all 1s;
  border: 1px solid transparent;
}
.button-link_hover:hover {
  color: #3A68B8;
  background: transparent;
  border: 1px solid #3A68B8;
  transform: scale(2) rotate(360deg);
}
.button-link_red {
  background-color: #3A68B8;
}

.button-link:last-of-type {
  margin-right: 0;
}

.button-video {
  display: flex;
  background-color: #3A68B8;
  border-radius: 5px;
  align-items: baseline;
  flex-direction: row-reverse;
  padding-top: 15px;
  transition: all 1s;
  border: 1px solid transparent;
}

.fa-play {
  height: 24px;
  color: #FFF;
  padding-left: 30px;
}

.button-watch {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 27px;
  color: #FFF;
  transition: all 1s;
  border: 1px solid transparent;
}

.button-video:hover {
  color: #3A68B8;
  background: transparent;
  border: 1px solid #3A68B8;
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
}

.button-watch:hover,
.fa-play:hover {
  color: #3A68B8;
  background: transparent;
}

.flex {
  max-width: 1148px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 849px) {
  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 541px;
    padding: 1%;
  }
}
.logo {
  background-color: #08101e;
  padding-bottom: 99px;
}

.logo-pic:hover {
  -webkit-animation: myAnim 1s ease 0s 1 normal forwards;
          animation: myAnim 1s ease 0s 1 normal forwards;
}

.about-box {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 849px) {
  .about-box {
    display: flex;
    flex-wrap: wrap;
  }
  .about-pic {
    padding: 0 87px;
  }
  .about-right {
    padding: 0 142px;
    width: 100%;
  }
}
.about-ai {
  margin-top: 157px;
}

.about-right {
  width: 100%;
  padding-top: 117px;
}
.about-right__button-link {
  margin-right: 20px;
  margin-bottom: 117px;
  padding: 15px 30px;
}

.about-title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  color: #FFF;
  padding-bottom: 30px;
}

.about-dsc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 160%;
  color: #b5b7bb;
  padding-bottom: 50px;
}

.elemm, .elem-left-about, .elem1-about,
.elem2-about,
.elem3-about,
.elem4-about,
.elem5-about {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  color: #FFF;
  opacity: 0.7;
}

.awards {
  margin-top: 264px;
  margin-bottom: 243px;
}

.awards-box1 {
  max-width: 1148px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}

.awards-box2 {
  max-width: 1148px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.elem1-about,
.elem2-about,
.elem3-about,
.elem4-about,
.elem5-about {
  padding: 30px 0;
}

.elem-left-about {
  padding: 60px 30px;
}

.elem1-dsc,
.elem2-dsc,
.elem3-dsc,
.elem4-dsc,
.elem5-dsc,
.elem-left-dsc {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
}

.elem1,
.elem2,
.elem3 {
  background-color: #132035;
  width: 31, 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
}

.elem4,
.elem5 {
  background-color: #132035;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
}

.elem1:hover,
.elem2:hover,
.elem3:hover,
.elem4:hover,
.elem5:hover {
  transform: scale(2, 2);
  background-color: rgba(128, 128, 128, 0.24);
  border: 1px solid rgba(128, 128, 128, 0.24);
}

.elem-left {
  background-color: #132035;
  max-width: 66%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  margin-right: 30px;
  border-radius: 10px;
}

.elem-right {
  max-width: 31%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 849px) {
  .awards-box1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 362px;
  }
  .awards-box2 {
    display: none;
  }
}
.client-box {
  max-width: 1148px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 19%;
  padding: 1% 0 2%;
}

.client-left-box {
  width: 48%;
}

.client-title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  color: #FFF;
  margin-bottom: 7%;
}

.client-dsc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 160%;
  color: #FFF;
  opacity: 0.7;
  width: 70%;
}

.client-dsc p {
  margin-top: 5%;
}

.slide {
  width: 50%;
}

#demo {
  width: 100%;
}

.carousel-inner img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.carousel-caption {
  color: #b5b7bb;
  background-color: #08101e;
}

@media screen and (max-width: 849px) {
  .client-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
  }
  .client-left-box {
    width: 64%;
    margin-bottom: 12%;
  }
  .slide {
    max-width: 100%;
    margin-bottom: 26%;
  }
}
.footer {
  background-color: #08101d;
}

.ftr {
  display: flex;
  justify-content: flex-start;
  padding: 4% 0;
  gap: 15%;
}

.information,
.about-store,
.communities {
  width: 31%;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}

.inform-title,
.aboutstore-title,
.communities-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFF;
  text-transform: uppercase;
}

.text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
  opacity: 0.6;
  margin-top: 3%;
}

.contacts {
  width: 100%;
  display: flex;
  gap: 2%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3%;
}

.mail-box,
.tel-box,
.address-box {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.fa-envelope,
.fa-phone,
.fa-map-marker {
  color: #FFF;
  font-size: 13px;
  padding-right: 1%;
}

.mail,
.tel,
.address,
.site {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
}

.communities-link {
  margin-top: 3%;
}

.group {
  margin-top: 2%;
  display: flex;
  gap: 2%;
}

.twitter,
.linkedin,
.youtube {
  color: #b5b7bb;
}

@media screen and (max-width: 849px) {
  .ftr {
    max-width: 849px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
  }
  .information,
.about-store,
.communities {
    margin: 2%;
  }
}/*# sourceMappingURL=style2.css.map */