* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@import "scss/vars";

body {
    background-color: $body-bg-color;
}

@mixin text ($fs,$fw,$fst) {
    font-size:$fs;
    font-weight:$fw;
    font-style:$fst;
}
    


@import "scss/header";

@import "scss/main";

.flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: #08101e;
    padding-bottom: 99px;
}

.logo-pic:hover {
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.about-box {
    display: flex;
    justify-content: space-between;
}

.about-ai {
    margin-top: 157px;
}

.about-right {
    width: 484px;
    padding-top: 117px;
    &__button-link {
        margin-right: 20px;
        margin-bottom: 117px;
        padding: 15px 30px;
    }
}

.about-title {
    font-family: $font-family;
    @include text(40px,700,normal);
    line-height: 130%;
    color: $h1color;
    padding-bottom: 30px;
}

.about-dsc {
    font-family: $font-family;
    @include text(16px,600,normal);
    line-height: 160%;
    color: #b5b7bb;
    padding-bottom: 50px;
}

@import "scss/awards";

@import "scss/clients";

@import "scss/caorusel";

@import "scss/footer";