.slide {
    width: 50%;
    max-height: 43%;
}

#demo {
    width: 100%;
}

.carousel-item img {
    vertical-align: middle;
    background-size: cover;
}

.carousel-caption {
    color: #b5b7bb;
    background-color: #08101e;
    font-size: 100%;
}

@media screen and (max-width:849px) {
    .client-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5%;
    }

    .client-left-box {
        width: 64%;
        margin-bottom: 12%;
    }

    .client-dsc {
        width: 100%;
    }

    .slide {
        max-width: 100%;
        margin-bottom: 26%;
    }
}

@media screen and (max-width:376px) {
    .client-box {
        max-width: 343px;
        padding: 2%;
    }

    .client-left-box {
        width: 100%;
        text-align: center;
    }

    .client-tytle {
        font-size: 24px;
    }

    .client-dsc {
        width: 100%;
        font-size: 16px;
    }

}