.footer {
    background-color: $footer-bg-color ;
}

.ftr {
    display: flex;
    justify-content: flex-start;
    padding: 4% 0;
    gap: 15%;
}

.information,
.about-store,
.communities {
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
}

.inform-title,
.aboutstore-title,
.communities-title {
    font-family: $footer-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
    text-transform: uppercase;
}

.text {
    font-family: $footer-font-family;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    opacity: 0.6;
    margin-top: 3%;
}

.contacts {
    width: 100%;
    display: flex;
    gap: 2%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3%;
}

.mail-box,
.tel-box,
.address-box {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.fa-envelope,
.fa-phone,
.fa-map-marker {
    color: #FFF;
    font-size: 13px;
    padding-right: 1%;
}

.mail,
.tel,
.address,
.site {
    font-family: $footer-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
}

.communities-link {
    margin-top: 3%;
}

.group {
    margin-top: 2%;
    display: flex;
    gap: 2%;

}

.twitter,
.linkedin,
.youtube {
    color: #b5b7bb;
}

@media screen and (max-width:849px) {
    .ftr {
        max-width: 849px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 5%;
    }

    .information,
    .about-store,
    .communities {
        margin: 2%;
    }

}