.header {
    background-color: $header-bg-color;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
}

@media screen and (max-width:849px) {
    .container {
        max-width: 849px;
        margin: 0 auto;
    }
}

.header-link {
    color: $h1color;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 40px;
}

.header-link:hover {
    transform: translate(0, 10px) scale(2);
    text-decoration: none;
    color: #fff;
}

.header-nav {
    display: flex;
    justify-content: center;
}

