main {
    background-color: #08101e;
    padding-top: 160px;
}

.main-box {
    max-width: 1148px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 17%;
}

.main-left {
    width: 56%;
}


.main-subtitle {
    color: #3A68B8;
    font-family: $font-family;
    @include text(18px, 600, normal);
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main-title {
    color: $h1color;
    font-family: $font-family;
    @include text(55px, 800, normal);
    line-height: 130%;
    margin-bottom: 40px;
}

.main-dsc {
    color: #b5b7bb;
    font-family: $font-family;
    @include text(18px, 600, normal);
    line-height: 160%;
    margin-bottom: 50px;
}


.button-box {
    display: flex;
    gap: 2%;

    &__button-link {
        padding: 15px 30px;
        
    }
}

.button-link {
    background: $btn-color;
    border-radius: 5px;
    font-family: $font-family;
    @include text(130%, 600, normal);
    line-height: 27px;
    color: $h1color;
    transition: all 1s;
    border: 1px solid transparent;

    &_hover:hover {
        color: $btn-color;
        background: transparent;
        border: 1px solid $btn-color;
        transform:scale(2) rotate(360deg);
    }

    &_red {
        background-color: $btn-color;
    }
}

.button-link:last-of-type {
    margin-right: 0;
}




.button-video {
    display: flex;
    background-color: $btn-color;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding-top: 15px;
    transition: all 1s;
    border: 1px solid transparent;
    
}

.fa-play {
    height: 24px;
    color: $h1color;
    padding-left: 30px;
}

.button-watch {
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 30px;
    font-family: $font-family;
    @include text(130%, 600, normal);
    line-height: 27px;
    color: $h1color;
    transition: all 1s;
    border: 1px solid transparent;

}


.button-video:hover {
    color: $btn-color;
    background: transparent;
    border: 1px solid $btn-color;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.button-watch:hover,
.fa-play:hover {
    color: $btn-color;
    background: transparent;
}


@media screen and (min-width:377px) and (max-width:849px) {
    .main-box {
        max-width: 849px;
        margin: 0 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-left {
        width: 100%;
        padding: 2%;
        
    }
    .main-title {
        display:block;
        font-size: 48px;
    }
    .button-box {
        display: flex;
        justify-content: start;
    }
    .main-pic {
        margin-top: 15%;
    }
}

@media screen and (max-width:376px) {
    .main-box {
        max-width: 376px;
        margin: 0 1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .button-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main-pic {
        padding: 1%;
    }
    .main-left {
        width:100%;
        padding: 1%;
        margin-bottom: 2%;
        text-align:  center;
    }

    .main-subtitle {
        font-size: 14px;
    }
    .main-title {
        font-size: 28px;
    }

    .button-video {
        margin-top: 2%;
    }
}