$body-bg-color:#020a18;
$header-bg-color:#08101d;
$footer-bg-color:#08101d;
$container-width:1148px;
$h1color:#FFF;
$font-family:'Open Sans', sans-serif;
$footer-font-family:'Roboto', sans-serif;
$btn-color:  #3A68B8;